.help {
    position: absolute;
    top: 0;

    width: 100vw;
    height: 22rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #fff;

    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));

    transform: translateY(-19rem);
    transition: all .8s ease-in-out;

    overflow: hidden;
    z-index: 100;
}

.help:hover {
    transform: translateY(0);
}

.help__text {
    width: 95%;
    height: auto;
    padding: 2vw;

    text-align: center;

    font-size: 2rem;

    overflow: auto;
}

.help__tag {
    position: fixed;
    bottom: 0;

    margin-bottom: 0;
    padding: 0;

    font-size: 2rem;
}

.tooltip {
    position: relative;

    border-bottom: 1px dotted black;

    display: inline-block;
  }
  
.tooltip .tooltip__text {
    position: absolute;
    bottom: 100%;
    left: 50%;

    margin-left: -60px;
    border-radius: 6px;
    width: 120px;
    padding: 5px 0;    
    
    font-size: 1rem;
    text-align: center;
    color: #fff;

    background-color: black;

    visibility: hidden;
    z-index: 1;
  }
  
.tooltip:hover .tooltip__text {
    visibility: visible;
  }