* {
    /* BOX MODEL */
    margin: 0;
    padding: 0;
}

body {
    /* BACKGROUND */
    background-image: url("./images/gold-marble.jpg");
}

div {
    /* LAYOUT */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glass {
    /* BOX MODEL */
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    width: 300px;
    border: solid 2px transparent;
    border-radius: 8px;
    padding: 1em;
    /* BACKGROUND */
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    background-clip: padding-box;
    /* OTHER */
    z-index: 1;
}

.button {
    /* BOX MODEL */
    margin-bottom: 1vh;
    border-radius: 8px;
    border-style: outset;
    min-width: 4vh;
    max-width: 5vh;
    min-height: 4vh;
    max-height: 5vh;
    /* LAYOUT */
    display: flex;
    align-items: center;
    justify-content: center;
    /* TYPOGRAPHY */
    font-size: 2.5rem;
    /* BACKGROUND */
    background-color: #FFFFF0;
}

.title-form {
    /* BOX MODEL */
    border-bottom: solid 1px rgba(255, 255, 255, 0.8);
    width: 100vw;
    height: 14vh;
    padding: 2vh;
    /* LAYOUT */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.title-input {
    /* BOX MODEL */
    width: 75vw;
    height: 6vh;
    /* LAYOUT */
    word-break: break-all;
    overflow-wrap: break-word;
    /* TYPOGRAPHY */
    color: #fff;
}

.title-text {
    /* BOX MODEL */
    margin: 0;
    width: 75vw;
    height: 6vh;
    /* LAYOUT */
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    overflow: hidden;
    /* TYPOGRAPHY */
    color: #fff;
    text-decoration: underline;
}

#title-button,
#remove-button,
#edit-button,
#check-button {
    /* POSITION */
    position: relative;
    top: 1vh;
}

.buttons-container {
    /* LAYOUT */
    display: flex;
    flex-direction: row;
}

.add-save-load-buttons {
    /* BOX MODEL */
    margin: 1vh 1vw 0 0;
    /* LAYOUT */
    display: flex;
    flex-direction: row;
}

.list-buttons {
    /* BOX MODEL */
    margin: 0 1vw;
}

#add-button {
    /* BOX MODEL */
    padding: .5vh;
    /* LAYOUT */
    display: flex;
    justify-content: center;
    /* TYPOGRAPHY */
    font-size: 3vh;
}

#load-input {
    /* LAYOUT */
    display: none;
}

.notes-list {
    /* BOX MODEL */
    height: 100%;
    padding: 2vh;
    /* LAYOUT */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-form {
    /* BOX MODEL */
    margin: .5vh;
    min-width: 30vw;
    width: 95vw;
    min-height: 15vh;
    /* LAYOUT */
    display: flex;
    align-items: flex-end;
}

#note-input {
    /* BOX MODEL */
    width: 85vw;
    min-height: 15vh;
    padding: 2vh;
    /* LAYOUT */
    display: flex;
    word-break: break-all;
    /* TYPOGRAPHY */
    color: #fff;
}

.note-text {
    /* BOX MODEL */
    width: 85vw;
    min-height: 15vh;
    padding: 2vh;
    /* LAYOUT */
    display: flex;
    word-break: break-all;
    overflow: hidden;
    /* TYPOGRAPHY */
    color: #fff;
}

.note-buttons {
    /* BOX MODEL */
    margin: 0 0 0 1vw;
}